<div class="hero min-h-screen" style="background-image: url(<%= asset_path "beach-1852945.jpg" %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-lg">
      <h1 class="mb-5 text-5xl font-bold">ROUND PLANNER</h1>
      <p class="mb-5">旅人向けの旅行計画サービス</p>
      <button class="btn btn-primary">プラン作成</button>
      <button class="btn btn-primary">プラン一覧</button>
    </div>
  </div>
</div>