<div class="hero min-h-screen" style="background-image: url(<%= asset_path "venice-3057446.jpg" %>);">
  <div class="hero-overlay bg-opacity-40"></div>
  <div class="hero-content text-center ">
    <div class="flex flex-col">
      <h1 class="mb-5 font-bold text-6xl mb-20 underline text-white opacity-80 ">~個人で海外旅行をするみなさまへ~</h1>
      <h2 class="mb-5 font-semibold text-4xl text-white opacity-80">入国前の準備はできていますか？</h2>
      <p class="mb-5 font-semibold text-2xl text-white opacity-80">安全情報を提供するサービスです</p>
    </div>
  </div>
</div>