<header class='fixed navbar opacity-100'>
  <div class='navbar-start'>
    <img src='', alt='LOGO'>
    <%= link_to 'ROUND PLANNER', root_path, class:'btn btn-ghost text-gray-100 rounded link link-hover font-bold text-4xl opacity-80' %>
  </div>
  <div class='navbar-end mr-5'>
    <%= link_to 'Login', login_path, class:'btn btn-ghost text-gray-100 rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
    <%= link_to 'Sign up', new_user_path, class:'btn btn-ghost text-gray-100 rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
  </div>
</header>
