<% if object.errors.any? %>
  <div class="alert alert-error lg:text-base text-sm">
    <ul class="list-disc flex flex-col items-start">
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>