<div id='flash'>
  <% flash.each do |message_type, message| %>
    <% if message_type == 'success' %>
      <div class=" alert alert-success "><%= message %></div>
    <% elsif message_type == 'error' %>
      <div class="alert alert-error"><%= message %></div>
    <% else message_type == 'info' %>
      <div class="alert alert-info"><%= message %></div>
    <% end %>
  <% end %>
</div>

<script>
  function hideMessage() {
    let flash = document.getElementById('flash');
    flash.style.display = 'none';
  }

  setTimeout(hideMessage,4000);
</script>