<div >
  <footer class="p-4 bg-white shadow md:px-6 md:py-8 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <ul class="flex flex-wrap items-center mb-6 sm:mb-0">
        <li>
          <a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Term Of Use</a>
        </li>
        <li>
          <a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="text-sm text-gray-500 hover:underline dark:text-gray-400">Contact Us</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com" target="_blank" class="hover:underline">ROUNDPLANNER</a>. All Rights Reserved.
    </span>
  </footer>
</div>