<footer class='footer footer-center opacity-90 bg-custom_color2 '>
  <div class='grid grid-flow-col gap-7 lg:text-xl text-m'>
    <%= link_to t('static_pages.term.title'), term_path, class:'link link-hover' %>
    <%= link_to t('static_pages.policy.title'), policy_path, class:'link link-hover' %>
    <%= link_to t('static_pages.contact.title'), 'https://docs.google.com/forms/d/e/1FAIpQLSfNK5V3iVET-q2GDy4X0IJMuYSTfsUstmqQcSgb7zIm0GrPBw/viewform?usp=sf_link', target: :blank,  class:'link link-hover' %>
  </div> 
  <div class="lg:text-xl text-sm">
    <p>出典：外務省 海外安全情報オープンデータ</p>
    <p>Copyright © 2023 - All right reserved by ROUND PLANNER</p>
  </div>
</footer>