<header class='fixed navbar opacity-100 z-20'>
  <div class='navbar-start'>
    <img src='', alt='LOGO'>
    <%= link_to 'ROUND PLANNER', root_path, class:'btn btn-ghost text-gray-100 rounded link link-hover font-bold text-4xl opacity-80' %>
  </div>
  <div class='navbar-center'>
    <%= link_to 'プラン作成', new_plan_path, class:'btn btn-ghost text-gray-100 rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
    <%= link_to 'プラン一覧', plans_path, class:'btn btn-ghost text-gray-100 rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
  </div>
  <div class='navbar-end mr-5'>
    <%= button_to 'Logout', logout_path, method: :delete, class:'btn btn-ghost text-gray-100 rounded link link-hover font-semibold text-xl mr-10 opacity-80' %>
  </div>
</header>