<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold">plans</h2>
    <div class="flex justify-between items-end gap-4 mb-6">

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 md:gap-x-6 gap-y-6">
      <!-- product - start -->
      <%= render partial: 'plan', collection: @plans %>
      <!-- product - end -->
    </div>
  </div>
</div>