<div class="bg-gray-400 sm:py-5 lg:py-5">
  <div class="min-h-screen pt-20 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold">plans</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 md:gap-x-6 gap-y-6">
      <!-- product - start -->
      <%= render partial: 'plan', collection: @plans %>
      <!-- product - end -->
    </div>
  </div>
</div>